@charset "UTF-8";

/* 
    Paleta de Cores

       Escura: #50363f
       Azul: #4db8ff
       Bege: #ecdf8a
       Laranja: #F78B53 
       Vermelho: #910E17

*/

* {
    font-family: 'Times New Roman', Times, serif, Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F78B53;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 300px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
    
    transform: translate(-50%, -50%);
    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

section#login > div#imagem {
   display: block; 
   background: #F78B53 url(../imagens/pexels-rotekirsche-20-3634832-5438696.jpg) no-repeat; 
   height: 200px;
   background-size: cover;
   background-position: bottom center;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #F78B53;
    border: 2px solid #F78B53;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: rgba(255, 255, 255, 0.716);
    font-size: 1em;
    width: calc(100% - 44px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    height: 100%;
    transform: translateY(-14px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #d4101d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #910E17;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-top: 5px;
    background-color: #d52a35;
    color: #ffbcc0;
    border: 2px solid #910E17;
    border-radius: 8px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #d4101d;
    color: #ffffffe9;
}

form > a.botao > i {
    font-size: 0.8em;
}